.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;

    &.faded {
        opacity: 0.7;
    }

    &.background__default {
        background: linear-gradient(289.03deg, #d6dadb -75.09%, rgba(230, 233, 233, 0.24) 74.75%),
            linear-gradient(0deg, #ffffff, #ffffff);
    }

    &:hover:not(.faded) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 100%),
            linear-gradient(289.03deg, #d6dadb -75.09%, rgba(230, 233, 233, 0.24) 74.75%),
            linear-gradient(0deg, #ffffff, #ffffff);
    }

    .logo {
        width: 64px;
        height: 40px;
        border-radius: 4px;
    }

    &.small {
        height: 40px;
        width: 64px;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 5px 8px;

        .logo {
            width: 48px;
            height: 30px;
            border-radius: 3px;
        }
    }

    &.medium {
        width: 200px;
        height: 120px;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 8px;

        @media (max-width: 992px) {
            width: 160px;
            height: 96px;
        }

        .logo {
            @media (max-width: 992px) {
                width: 48px;
                height: 30px;
                border-radius: 3px;
            }
        }
    }

    &.large {
        width: 240px;
        height: 144px;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 16px;

        @media (max-width: 992px) {
            width: 216px;
            height: 128px;
        }
    }

    &.demo {
        background: linear-gradient(135deg, #FF6444, #ffffff 15%, #FF6444 74%);

        &:hover:not(.faded) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 100%),
            linear-gradient(135deg, #FF6444, #ffffff 15%, #FF6444 74%);
        }

        &.dark {
            background: linear-gradient(135deg, #FF6444, #0e0e0e 15%, #FF6444 74%);

            &:hover:not(.faded) {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.16) 100%),
                linear-gradient(135deg, #FF6444, #0e0e0e 15%, #FF6444 74%);
            }
        }
    }


    &.dark {
        color: #ffffff;

        &.background__default {
            background: linear-gradient(289.03deg, #242828 -75.09%, rgba(50, 55, 56, 0.24) 74.75%),
                linear-gradient(0deg, #0e0e0e, #0e0e0e);
        }

        &:hover:not(.faded) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.16) 100%),
                linear-gradient(289.03deg, #242828 -75.09%, rgba(50, 55, 56, 0.24) 74.75%),
                linear-gradient(0deg, #0e0e0e, #0e0e0e);
        }
    }

    .title {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;

        @media (max-width: 992px) {
            font-size: 8px;
            line-height: 12px;
        }

        &__large {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            @media (max-width: 992px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .balance {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;

        @media (max-width: 992px) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
